/*--Arvind Start--*/
.invalid-feedback{
	font-size: 14px;
	color: #ff0000;
}

.spinnermodal {
	background-color: #FFFFFF;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
}

.public-main{
	padding: 30px 0px;
}
.amount-delivery-span{
	border:none !important;
	background: none !important;
	color: #000000 !important;
}

.active-btn {
    border: 1px solid #FFC024;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(to right, #FFC024, #FF177B);
	color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-left: 1%;
}

.normal-btn {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    color: #555;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-right: 1%;
}
#sort_payment_div{
	padding-left: 55px;
    font-weight: 600;
    font-size: 13px;
}

sup{
    color: #ff0000;
}

.need-help .btn {
	height: 50px;
	display: inline-block;
	color: #fff;
	padding: 0 40px;
	font-size: 18px;
	letter-spacing: 1px;
	background: #333;
	line-height: 50px;
}

.social-share ul li span{
	color: #fff;
}
#social-links{
	display:inline-block;
}
#social-links li{
	background: #3bb077;
	border-radius: 5px;
}

#social-links ul li span{
	line-height:80px;
}
#social-links ul li:nth-child(1){
	background: #4267b2;
	margin-bottom: 10px;
}
#social-links ul li:nth-child(2){
	background: #00b600;
	margin-bottom: 10px;
}

.testimonial_txt{
	padding-top:10px;
}

.js-cookie-consent-agree{
	height: 45px;
    background-image: linear-gradient(to right, #FFC024 , #FF177B);
    color: #fff;
    border: none;
    border-radius: 5px;
	
}

.js-cookie-consent{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 99999;
}

#progressbar .progressbar-ldr img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*--Arvind End--*/