@charset "utf-8";
.custom-navs-opt {
	position: fixed;
	left: 0;
	top: 10px;
	height: 40px;
	width: 40px;
	background: #13b3c7;
	color: #fff;
	cursor: pointer;
	display: none;
	transition: all 300ms linear 0s;-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.custom-navs-opt span {
	display: block;
	height: 2px;
	width: 24px;
	position: absolute;
	left: 8px;
	top: 50%;
	content: '';
	background: #fff;
	transition: all 300ms linear 0s;-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.custom-navs-opt span:after, .custom-navs-opt span:before {
	position: absolute;
	height: 2px;
	width: 24px;
	content: '';
	background: #fff;
	transition: all 300ms linear 0s;-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.custom-navs-opt span:after {
	left: 0;
	top: -8px;
}
.custom-navs-opt span:before {
	left: 0;
	bottom: -8px;
}
.close-icon.custom-navs-opt span:before {
	transform: rotate(-45deg);
	bottom: 0;
}
.close-icon.custom-navs-opt span:after {
	transform: rotate(45deg);
	top: 0;
}
.close-icon.custom-navs-opt span {
	width: 0px;
}
#toTop {
	opacity: 0.5;
	transition: all 300ms linear 0s;-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
#toTop:hover {
	opacity: 1;
}
@media screen and (min-width : 1400px) {
}
@media screen and (max-width : 1200px) {
	.w-80-cust {
		width: 100%;
	}
}
@media screen and (min-width : 992px) and (max-width : 1199px) {
	.left-user-detail {
		margin-left: 10px;
	}
	.right-nav ul li a {
		padding: 22px 10px;
	}
	.pub-main-div .all-ourt-style h2 {
		font-size: 18px;
	}
	.auth-count h2 {
		font-size: 18px;
	}
	.w-80-cust {
		width: 100%;
	}
	.custom-radios ul li {
		width: 50%;
	}
	.custom-files ul li {
		width: 33.333%;
	}
}
@media screen and (max-width : 991px) {
	.logo {
		padding-right: 10px;
		text-align: right;
	}
	.left-user-detail {
		margin-left: 10px;
	}
	.right-nav ul li a {
		padding: 22px 10px;
	}
	.pub-main-div .all-ourt-style h2 {
		font-size: 18px;
	}
	.pul-clie-main {
		padding: 0px;
	}
	.pub-main-div .all-ourt-style i.ab-icons {
		font-size: 58px;
	}
	.auth-dash-sec .left-navigations {
		left: -280px;
		z-index: 10;
		transition: all 300ms linear 0s;-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
	}
	.auth-dash-sec .right-auth-landing {
		padding: 20px;
		transition: all 350ms linear 0s;-transition: all 350ms linear 0s;-moz-transition: all 350ms linear 0s;-webkit-transition: all 350ms linear 0s;
	}
	.menu-open .auth-dash-sec .right-auth-landing {
		margin-right: -280px;
		margin-left: 280px;
	}
	.custom-navs-opt {
		display: block;
	}
	.menu-open .auth-dash-sec .left-navigations {
		left: 0;
	}
	.left-user-detail {
		display: none;
	}
	.auth-count h2 {
		font-size: 18px;
	}
	.w-80-cust {
		width: 100%;
	}
	.custom-radios ul li {
		width: 50%;
	}
	.custom-files ul li {
		width: 33.333%;
	}
}
@media screen and (min-width : 768px) and (max-width : 991px) {
}
@media screen and (max-width : 767px) {
	body {
		font-size: 13px;
	}
	.auth-count h2 {
		font-size: 16px;
	}
	.or-option::after {
		left: auto;
		right: 0px;
		bottom: 35px;
	}
	.yes-no-list li {
		width: auto;
		margin-right: 15px;
	}
	.all-pop-main .modal-header h4 {
		font-size: 14px;
	}
	.targetDiv {
	    background: #eee;
	    padding: 5px;
    }
    .auth-dash-sec .right-auth-landing {
    	padding: 10px;
    }
}
@media screen and (max-width : 650px) {
	header {
		position: relative;
	}
	.auth-dash-sec {
		padding: 0px;
	}
	.logo {
		width: auto;
		border-right: none;
		padding: 10px 5px 10px 30px;
	}
	.logo img {
		width: 190px;
	}
	.right-nav {
		text-align: center;
	}
	.right-nav ul li a {
		padding: 18px 10px;
	}
	.auth-dash-sec .left-navigations {
		padding-top: 64px;
		transition: all 300ms linear 0s;-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
	}
	.sticky-header .auth-dash-sec .left-navigations {
		padding-top: 10px;
	}
	.menu-open.sticky-header .custom-navs-opt.close-icon {
		left: 280px;
	}
	.right-nav ul li a {
		font-size: 0px;
	}
	.right-nav ul li a i {
		font-size: 16px;
	}
    .auth-dash-sec .right-auth-landing {
    	padding: 5px;
    }
	.custom-files ul li {
		width: 50%;
	}
}
@media screen and (max-width : 480px) {
	.custom-radios ul li {
		width: 100%;
	}
	.add-to-project .btn {
		font-size: 12px;
	}
	.upload-hover {
		padding: 8px;
	}
}
@media screen and (max-width : 360px) {
	.logo {
		padding: 15px 5px 15px 30px;
	}
	.logo img {
		width: 140px;
	} 
}